/*barChart Display*/
#barChart {
  margin: auto;
  background-color: white;
  border: solid black 1px;
  width: 80%;
  height: 80%;
  padding: 2%;
}

/*axis */
#axis {
  position: relative;
  margin: auto;
  background-color: whitesmoke;
  border-style: none none groove dashed;
  
  padding: 8%;
  width: 70%;
  height: 60%;
}

/*columns */
#bar1 {
  position: absolute;
  margin: auto;
  background-color: tomato;
  float: left;
  height: 80%;
  bottom: 0;
  left: 23%;
  width:10%;
  text-align: center;
  


  /*padding-top: 10%;
  padding-bottom:*/

}

#bar2 {
  position: absolute;
  background-color: orange;
  left: 56%;
  float: left;
  height: 40%;
  bottom: 0%;
  width:10%;
  text-align: center;
  
    /*padding-top: 20%;*/
}

#bar3 {
  position: absolute;
  background-color: dodgerblue;
  float: left;
  height: 70%;
  bottom: 0;
  left: 90%;
  width:10%;
  text-align: center;
  /*padding-top: 30%;*/
}