/*barChart Display container*/
.barChart {
  position:relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 40px;
  background-color: #2196F3;
  padding: 10px;
  margin: auto;
  border-style: groove;
  background-color: white;
  height: 80%;
  width: 80%
}

.title {
  background-color: whitesmoke;
  grid-area: 1/1/span 1/span 11;
  text-align: center;
  border-style: groove;
}

/*axis */
.yAxis {
  
  background-color: whitesmoke;
  grid-area: 2/1/span 10 /span 1;
  text-align: center;
  border-style: groove;
  
}

.xAxis {
  background-color: whitesmoke;
  grid-area: 12/2/span 1 /span 10;
  text-align: center;
  border-style: groove;
}

.markZero {
  background-color: whitesmoke;
  grid-area: 12/1/span 1/ span 1;
  text-align: right;
  border-style: groove;
}

.chartArea {
  position: relative;
  grid-area: 2/2/span 10/span 10;
  grid-gap: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: whitesmoke;
  border-style: none none groove groove;
  display: grid;
  grid-template-columns: auto auto auto;

  
}

/*columns */
.bar1 {
  position: absolute;
  grid-area: 1/1/span 1/span 1;
  margin: auto;
  background-color: tomato;
  bottom: 0;
  text-align: center;
  height: 10%;
  width: 100%;


}

.bar2 {
  position: absolute;
  grid-area: 1/2/span 1/span 1;
  margin: auto;
  background-color: orange;
  bottom: 0;
  text-align: center;
  height: 20%;
  width: 100%;


}

.bar3 {
  position: absolute;
  grid-area: 1/3/span 1/span 1;
  margin: auto;
  background-color: dodgerblue;
  bottom: 0;
  text-align: center;
  height: 30%;
  width: 100%

}