/*barChart Display*/
#barChart {
  margin: auto;
  background-color: white;
  border: solid black 1px;
  width: 50%;
  height: 100px;
  padding: 5%;
}

/*axis */
#axis {
  position: relative;
  margin: auto;
  background-color: whitesmoke;
  border-bottom: 2px dotted black;
  border-left: 4px dotted black;
  padding: 8%;
  width: 50%
}

/*columns */
#column1 {
  position: absolute;
  margin: auto;
  background-color: red;
  float: left;
  height: 80%;
  bottom: 0;
  left: 5%;
  width:10%
  


  /*padding-top: 10%;
  padding-bottom:*/

}

#column2 {
  position: absolute;
  background-color: blue;
  left: 20%;
  float: left;
  height: 40%;
  bottom: 0%;
  width:10%
  
    /*padding-top: 20%;*/
}

#column3 {
  position: absolute;
  background-color: green;
  float: left;
  height: 70%;
  bottom: 0;
  left: 35%;
  width:10%
  /*padding-top: 30%;*/
}